button {
  margin-right: 8px;
}

.new-game-card {
  max-width: 400px;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.game-actions {
  justify-content: right;
}

.card-content {
  margin: 20px 10px 0px 0px;
  display: flex;
  flex-direction: column;
}

.input-size {
  margin-bottom: 15px;
}
