button {
  margin-left: 8px;
}

mat-form-field {
  margin-top: 15px;
}

.new-game-card {
  max-width: 400px;
  margin-top: 40px;
  padding: 15px 15px 0px 15px;
  display: flex;
  justify-content: space-around;
}

.card-content {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.game-actions {
  padding: 15px;
  justify-content: right;
}

.input {
  margin-bottom: 15px;
}

.players-form {
  max-width: 135px;
  width: 100%;
}

.input-title {
  font-weight: 500;
}
