tmp
tests
Dockerfile
.venv
alpha_cc/engine/backend/target

# Misc
.*
*.ipynb

# Rust
target Cargo.lock **/*.rs.bk files *.db
alpha_cc/engine/backend/target

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.ipynb
**/*.md
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
