# Misc
.*

# project specific
tmp
data
tests
Dockerfile
## python
.venv
*.ipynb
## js
webapp/node_modules
webapp/.nx
webapp/.angular
# rust
**/*.rs.bk files *.db
engine/target
engine/Cargo.lock
docker-compose.*.yaml


# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.ipynb
**/*.md
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
