.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Asul, sans-serif;
  border-bottom: 4px solid rgb(107, 155, 103);
}

.site-title {
  font-size: 2.8em;
}

.nav-links {
  display: flex;
  gap: 1em;
}

a {
  all: unset;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media (max-width: 400px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.1em;
  }
}
