.board {
  background-color: #475c6c;
  border: 5px solid black;
  gap: 50x;
  display: flex;
  flex-direction: column;
  margin: 40px 50px;
  padding: 20px 20px;
}

.board-row {
  display: flex;
}

.board-hole {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  overflow: hidden;
  background-color: rgb(145, 144, 144);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hole-legal-target {
  border: 2px solid white;
}

.hole-last-move {
  background-color: rgb(128, 100, 100);
}
