@if(board) {
<div class="board" cdkDropListGroup>
  @for (i of board.matrix; track i; let row = $index) {
  <div class="board-row">
    <div class="board-row-space" [style.width]="row * 25 + 'px'"></div>
    @for (j of i; track j; let col = $index) {
    <div
      class="hole"
      [ngClass]="{
        'legal-target':
          board.isLegalMove(selected.x, selected.y, row, col) && !moveDisabled,
        'last-move': board.isCoordOfLastMove(row, col)
      }"
      cdkDropList
      [cdkDropListData]="{ row: row, col: col }"
      (cdkDropListDropped)="drop($event)"
    >
      @if (j !== 0) {
      <app-board-peg
        [pegColor]="colors[j]"
        (mousedown)="setSelected(row, col)"
        (mouseup)="setSelected(-1, -1)"
        (mouseleave)="setSelected(-1, -1)"
        cdkDrag
        [cdkDragDisabled]="!board.isLegalMoveSource(row, col) || moveDisabled"
      >
        <div *cdkDragPlaceholder style="display: none"></div>
      </app-board-peg>
      }
    </div>
    }
  </div>
  }
</div>
}
