<div class="board" cdkDropListGroup>
  @for (i of (currentBoardMatrix$ | async); track i; let row = $index) {
  <div class="board-row">
    <div class="board-row-space" [style.width]="row * 25 + 'px'"></div>
    @for (j of i; track j; let col = $index) {
    <div
      class="hole"
      [ngClass]="{
        'legal-target': isLegalTarget(row, col),
        'last-move':
          (lastMove.fromCoord.x === row && lastMove.fromCoord.y === col) ||
          (lastMove.toCoord.x === row && lastMove.toCoord.y === col)
      }"
      cdkDropList
      [cdkDropListData]="{ row: row, col: col }"
      (cdkDropListDropped)="drop($event)"
    >
      @if (j !== 0) {
      <app-board-peg
        [pegColor]="colors[j]"
        (mousedown)="setSelected(row, col)"
        (mouseup)="setSelected(-1, -1)"
        (mouseleave)="setSelected(-1, -1)"
        cdkDrag
        [cdkDragDisabled]="!isLegalSource(row, col)"
      >
        <div *cdkDragPlaceholder style="display: none"></div>
      </app-board-peg>
      }
    </div>
    }
  </div>
  }
</div>
