:host {
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.board {
  background-color: darkolivegreen;
  border: 5px solid;
  display: grid;
  gap: 50x;
  display: flex;
  flex-direction: column;

  margin: 50px 50px;
  padding: 20px 20px;
  width: max-content;
}

.board-row {
  display: flex;
}

.hole {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #000;
  overflow: hidden; // find better fix
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.peg {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.selected {
  border: 1px solid white;
}
