.navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  
    font-family: Asul, sans-serif;
    border-bottom: 4px solid rgb(107, 155, 103);
    letter-spacing: 0.1em;
  }
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
  }
  
  a {
    all: unset;
    font-size: 1.5em;
  }
  
  a:hover {
    text-decoration-thickness: 2;
    font-weight: 800;
  }
  
  .site-title {
    font-size: 2.5em;
    flex-shrink: 0;
  }
  
  ul {
    list-style: none;
  }